.promotionsBlock {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px 40px; /* Увеличиваем отступы сбоку */
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1); /* Внутренняя тень */
    text-align: center; /* Центрируем текст в блоке */
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Темно-серый цвет заголовка */
  }
  
  .noPromotions {
    color: #888;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .promotionsList {
    font-size: 18px;
    line-height: 1.6;
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем внутренний отступ */
    margin: 0; /* Убираем внешний отступ */
  }
  
  .promotionItem {
    margin-bottom: 10px; /* Отступ между элементами списка */
    color: #333; /* Темно-серый цвет акций */
  }
  