.servicesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 150px;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .servicesContainer {
    margin: 0;
  }
}

.title {
  grid-column: span 2;
  font-size: 2rem; 
  margin-bottom: 20px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60%;
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
}

.button {
  padding: 10px 15px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 40px;
}

.button:hover {
  background-color: #ff4500;
}

@media (max-width: 800px) {
  .servicesContainer {
    display: flex;
    flex-direction: column;
    margin: 0 20px; 
  }

  .card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
    max-height: 200px;
    height: 200px;
  }

  .info {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 1080px) {
  .card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
    max-height: 200px;
    height: 200px;
  }

  .info {
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }
}
