.container {
  display: flex;
  padding: 20px;
  margin: 25px auto;
  background-color: #ddd;
  border-radius: 10px;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  flex: 2;
  padding-left: 20px;
}

.details h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.details p {
  font-style: italic;
  color: gray;
  margin-bottom: 20px;
}

.details hr {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.priceList {
  margin-top: 20px;
  margin: 0 80px 0 0;
}

.priceList h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.priceList table {
  width: 100%;
  border-collapse: collapse;
}

.priceList th,
.priceList td {
  border: 1px solid #ff6347;
  padding: 8px;
  text-align: left;
}

.priceList th {
  background-color: #f4f4f4;
}

button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff4500;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }

  .image {
    order: 2;
    flex: none;
    margin-top: 20px;
  }

  .details {
    order: 1;
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 10px;
  }

  .details h1 {
    font-size: 1.5rem;
  }

  .details p {
    font-size: 14px;
  }

  .priceList h2 {
    font-size: 1.2rem;
  }

  button {
    padding: 8px 16px;
  }
}
