.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px 40px;
  color: white;
  position: relative;
  gap: 100px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: auto; 
}

.logo p {
  font-family: "Sevillana", cursive;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
}

.logoico {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.info {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.infoPanel {
  background-color: #f9f9f9;
  color: black;
  padding: 10px 20px;
  transition: max-height 0.5s ease, padding 0.5s ease;
  max-height: 0;
  overflow: hidden;
}

.visible {
  max-height: 300px; 
  padding: 10px 20px;
}

.hidden {
  padding: 0;
}

.panelContent {
  margin: 5px 0;
}





@media (max-width: 850px) {
  .menuButton {
    display: block;
  }

  .info {
    display: none;
  }


}
