.adminContainer {
    display: flex;
    min-height: 500px;
    border-radius: 10px;
  }
  
  .content {
    display: flex;
    width: 100%;
  }
  
  .tabContent {
    flex: 1;
    padding: 20px;
  }
  