.tabs {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  border-radius: 10px;
  height: 500px;
}

.tab {
  padding: 15px;
  border: 1px solid #dddddd00;
  border-bottom: none;
  background-color: #ffffff00;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #000;
  margin: 0 0;
}

.tab:hover {
  background-color: #ff6347;
}

.active {
  background-color: #ff4500;
  color: #ffffff;
}

.tab:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
