.detailedInfoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%; 
}

.slider {
  width: 100%;
  max-width: 500px; 
  height: auto; 
  position: relative;
}

.image {
  width: 100%;
  height: auto; 
  object-fit: cover;
  border-radius: 10px;
}

.info {
  max-width: 500px;
  margin-left: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
}



@media (max-width: 1200px) {
  .detailedInfoBlock {
    flex-direction: column;
    align-items:center; 
  }

  .slider {
    width: 100%; 
    max-width: 100%;
  }

  .info {
    margin-left: 0; 
    margin-top: 20px; 
  }

  h2 {
    font-size: 30px; 
  }

  p {
    font-size: 20px; 
  }
}

@media (max-width: 550px) {
  h2 {
    font-size: 20px; 
  }

  p {
    font-size: 15px; 
  }
}

