.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .loginButton {
    padding: 10px 20px;
    background-color: #af7c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #a04545;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  